@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Manrope:wght@400;500;600;700;800&family=Poppins:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-light: #ffffff;
  --bg-dark: #0f0f0f;

  --text-light: #111111;
  --text-dark: #e5e5e5;
}

/* Fuente global (body) */
html {
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
}

/* Títulos globales */
h1, h2, h3, h4 {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
}

/* Smooth theme transition */
* {
  transition:
    background-color 0.35s ease,
    color 0.35s ease,
    border-color 0.35s ease;
}

.notransition * {
  transition: none !important;
}
